.doneButtonPosition {
    text-align: center;
    min-height: 7rem;
}

.doneButton {
    background-color: #438efc;
    border-radius: 0.2em;
    color: white;
    padding: 0.8em 1.5em;
    font-family: "PoppinsItalic", sans-serif;
    cursor: pointer;
    margin: 2rem; 
}

.doneButtonPosition a:hover {
    background-color: white;
    font-weight: bolder;
  }