.doneButtonPosition {
    text-align: center;
    min-height: 7rem;
}

.doneButton {
    background-color: #438efc;
    border-radius: 0.2em;
    color: white;
    padding: 0.4em 1.5em;
    font-family: "Evogria", sans-serif;
    font-size: 30px;
    cursor: pointer;
    margin: 3rem; 
}

.doneButtonPosition a:hover {
    background-color: white;
    font-weight: bolder;
}