footer {
    background-color: rgb(20, 90, 146);
    text-align: center;
    padding: 10px;
    color: white;
}

.teama {
    font-size: 25px;
    font-family: "Mont-Heavy";
}

.date {
    margin: 0px;
    font-size: 15px;
    color: rgb(201, 201, 201);
    font-family: "Mont-Light";
}

.rights {
    font-size: 15px;
    color: rgb(201, 201, 201);
    font-family: "Mont-Light";
}

.icons {
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.icon {
    justify-content: center;
    max-width: 3em;
    margin: 0.25rem;
}