/* ! FONTS */

@font-face {
  font-family: 'Coronaviral';
  font-weight: normal;
  src: url("./components/Fonts/Coronaviral.otf") format("opentype");
}

@font-face {
  font-family: 'EvogriaIt';
  font-weight: normal;
  src: url("./components/Fonts/EvogriaItalic.otf") format("opentype");
}

@font-face {
  font-family: 'Evogria';
  font-weight: normal;
  src: url("./components/Fonts/Evogria.otf") format("opentype");
}

/* ! BODY */

body {
  background-color: rgb(255, 255, 255);
}

/* ! HEADER */

header {
  background-color: rgb(67, 142, 252);
}

h1 {
  font-family: 'EvogriaIt';
  font-size: 80px;
  text-align: center;
  color: white;
  z-index: 2;
  margin: 0;
}

.fit {
  color: rgb(201, 201, 201);
  transform: translateX(-50px);
}

.pulse {
  width: 150px;
  height: 100px;
  left: 440px;
  top: 95px;
  transform: translateY(-5px);
}

.flexed {
  display: flex;
  justify-content: center;
}
/* ! PAGE 1 CARDS */

.cards {
  display: flex;
  flex-wrap: wrap;
}

.position {
  width: 50%;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.position:nth-child(1),
.position:nth-child(6) {
  justify-content: flex-end;
  padding-right: 110px;
}

.position:nth-child(2),
.position:nth-child(7) {
  justify-content: flex-start;
  padding-left: 110px;
}
.position:nth-child(3),
.position:nth-child(4),
.position:nth-child(5) {
  width: 33.33%;
  justify-content: center;
}

.page1card {
	height: 250px;
	width: 250px;
	position: relative;
	overflow: hidden;
  background-image: url("./components/Images/viral.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center bottom;
  border: 0px;
  border-radius: 25px;
}

.overlay {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  background: rgb(20, 90, 146);
  background-size: cover;
	display: grid;
	place-items: center;
  transition: 0.5s;
}

.day {
  font-family: 'Evogria';
  font-size: 30px;
  color: rgb(20, 90, 146);
  text-align: center;
}

.glow {
  font-family: 'Coronaviral';
  font-size: 70px;
  color: #fff;
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 11px rgb(255, 255, 255)
  }
  to {
    text-shadow: 0 0 22px rgb(146, 146, 146)
  }
}

a:hover {
  text-decoration: none;
}

.page1card:hover .overlay {
  opacity: 2;
  font-size: 100px;
}

.transition-top {
	transition: 0.5s;
} 

.page1card:hover .transition-top {
	transform: translateY(-100%);
}

/* ! PAGE 2 CARDS */

.exerciseCard {
  border: 1px solid black;
  width: 20%;
  border-radius: 5px;
}

.exerciseCard img {
  width:  90%;
  height: 100px;
  padding: 5% 5% 0;
}

.exerciseCard p {
  box-sizing: border-box;
  width: 90%;
  border: 1px solid black;
  margin: 0 5% 5%;
  padding: 2.5%;
}