
@media (max-width: 900px) {
    .exerciseCardWrapper {
        flex-direction: column;
        align-content: center;
    }

    .exerciseCard {
        width: unset;
        margin-bottom: 40px;
    }

    .background {
        display: none;
    }

    .cards1 {
        flex-direction: column;
    }

    .position {
        justify-content: center;
        width: 100%;
        padding: 20px 0px;
    }
    
}

@media (min-width: 901px) {
    .position:nth-child(1),
    .position:nth-child(6) {
        justify-content: flex-end;
        padding-right: 110px;
    }

    .position:nth-child(2),
    .position:nth-child(7) {
    justify-content: flex-start;
    padding-left: 110px;
    }
    
    .position:nth-child(3),
    .position:nth-child(4),
    .position:nth-child(5) {
        width: 33.33%;
        justify-content: center;
    }
}
