
@media (max-width: 900px) {
    .exerciseCardWrapper {
        flex-direction: column;
        align-content: center;
    }

    .exerciseCard {
        width: unset;
        margin-bottom: 40px;
    }

}
