.cards2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.exerciseCard {
    width: 20%;
    border-radius: 5px;
    background-color: white;
    color: white;
    background-color: rgb(67, 142, 252);
    text-align: center;
}

.exerciseCard img {
    width:  100%;
    height: 50%;
    padding: 5% 5% 0;
}

.exerciseCard p {
    box-sizing: border-box;
    width: 90%;
    margin: 0 5% 5%;
    padding: 2.5%;
}

.exerciseCardWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 80px;
}

header h2 {
    font-family: 'Evogria';
    text-decoration: underline;
    padding: 20px;
}

h5 {
    font-family: 'Evogria';
}
