.cards2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.exerciseCard {
    border: 1px solid black;
    width: 20%;
    border-radius: 5px;
    background-color: white;
}

.exerciseCard img {
    width:  90%;
    height: 100px;
    padding: 5% 5% 0;
}

.exerciseCard p {
    box-sizing: border-box;
    width: 90%;
    border: 1px solid black;
    margin: 0 5% 5%;
    padding: 2.5%;
}

.exerciseCardWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 80px;
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url("../images/line.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}